.burger {
    display: none;
    outline: none;
    @media screen and (max-width: 768px) {
        display: inline-block;
    }
    &__line {
        display: block;
        width: 22px;
        height: 2px;
        background-color: $orange;
    }
    &::before, &::after {
        content: '';
        display: block;
        width: 22px;
        height: 2px;
        background-color: $orange;
    }
    &::before {
        margin-bottom: 4px;
    }
    &::after {
        margin-top: 4px;
    }
}
#toggle {
    display: none;
    outline: none;
    &:checked {
        + .menu {
            right: 0;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                right: 0;
                bottom: 0;
                z-index: 1;
                background-color: $black;
                opacity: $opacity05;
            }
        }
    }
}