.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 80px;
    background-color: $black;
    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 1240px;
        padding-left: 22px;
        padding-right: 22px;
        @media screen and (max-width: 768px) {
            width: 100%;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        @media screen and (max-width: 375px) {
            width: 100%;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
    }
    &__logo {
        @media screen and (min-width: 769px) {
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
        }
        @media screen and (max-width: 375px) {
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
        }
    }
    &__burger {
        &:focus-within {
            @media screen and (max-width: 768px) {
                + .menu {
                    right: 0;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -100%;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        background-color: $black;
                        opacity: $opacity05;
                    }
                }
            }
        }
    }
    &__menu {
        + .header {
            &__phone {
                @media screen and (min-width: 1024px) {
                    margin-left: 94px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            -webkit-box-ordinal-group: 4;
                -ms-flex-order: 3;
                    order: 3;
        }
    }
    &__phone {
        @media screen and (max-width: 768px) {
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
        }
        @media screen and (max-width: 375px) {
            margin-right: 30px;
        }
    }
}