/*COLORS*/
$white-50               : #FFFFFF;
$white-100              : #FAFAFA;
$orange                 : #F2994A;
$red                    : #EB5757;
$black                  : #131417;
$grey                   : #252830;

/*FONTS*/
$roboto                 : 'Roboto', sans-serif;

/*FONT STYLE*/
$font-style-normal      : normal !default;

/*FONT WEIGHT*/
$font-weight-400        : 400 !default;
$font-weight-500        : 500 !default;

/*BORDER RADIUS*/
$border-radius-8        : 8px !default;

/*OPACITY*/
$opacity01              : 0.1 !default;
$opacity05              : 0.5 !default;